@{
    ViewBag.Title = "Rólunk";
}
<h2>@ViewBag.Title.</h2>

<p>Az atomerőműbe a beszállítások komplex logisztikai problémát jelentenek az erőmű számára.  A beléptetés szigorú szabályok mentén folyamatos biztonsági őri vagy egyéb kíséret mellett történik.
   Az új blokkok létesítése végett a raktározási területnek a raktározási kapacitásai jelentős átrendeződésen mennek át, ami azt eredményezi, hogy az áruátvétel során torlódások alakulhatnak ki, ami a fizikai védelem szempontjából kockázat növekedéssel jár.
   A cél egy olyanj online alkalmazás fejlesztése, amely alkalmazásával a szállítók meg tudják adni a szállítás várható intervallumát (napra/órára), így a RAKO-nak lehetősége nyílik a terhelési csúcsok elkerülésére.</p>
