@{
    ViewBag.Title = "Elérhetőség";
}
<h2>@ViewBag.Title.</h2>

<address>
    Horváth Dávid<br />
    Kőrösi Csoma Sándor utca 14/a. III/15.<br />
    <abbr title="Phone">P:</abbr>
    +36-30/322-7244
</address>