<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hiba</title>
</head>
<body>
    <hgroup>
        <h1>Hiba.</h1>
        <h2>Hiba történt , miközben megpróbálta futtatni a programot.</h2>
    </hgroup>
</body>
</html>
